<%= render partial: "shared/navbar" %>

<div class="books-container">
  <% @books.each do |book| %>
    <%= link_to book.title, book_path(book) %>
    <%= book.author %>
    <%= book.page_count %>
    <%= book.year_published %>
  <% end %>
</div>
