<%= render partial: "shared/navbar" %>
<br>
<div class="col s12 m7">
  <h2 class="header"><%= @book.title %></h2>
  <div class="card horizontal">
    <div class="card-image">
      <%= image_tag("book.jpg") %>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <ul>
          <li><%= @book.page_count %></li>
        </ul>
      </div>
      <div class="card-action">
        <ul>
          <li><%= @book.author.name %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
